body {
    background: black;
}

.computer {
    background: #A9A9A9;
    width: 92vw;
    height: 85vh;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 40px;
    margin: 0 auto;
}

#screen {
    background: black;
    border: 1px solid transparent;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-family: 'VT323', monospace;
    font-size: 20px;
}

.power-button {
    background: #A9A9A9;
    box-shadow: 0 1px 3px 0 #666;
    height: 50px;
    width: 50px;
    margin-top: 10px;
    outline: none;
    border: 0px;
    padding: 10px;
}

#console {
    color: white;
    background: repeating-linear-gradient(#000, #000 .3%, #222 .3%, #222 .6%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    border: 1px solid transparent;
    border-radius: 10px;
    padding-left: 10px;
    overflow: auto;
}

@keyframes turn-on {
    0% {
        transform: scale(1, 1) translate3d(0, 0, 0);
        -webkit-filter: brightness(30);
        filter: brightness(30);
        opacity: 1;
    }

    3.5% {
        transform: scale(1, 1) translate3d(0, 100%, 0);
    }

    3.6% {
        transform: scale(1, 1) translate3d(0, -100%, 0);
        opacity: 1;
    }

    9% {
        transform: scale(1, 1) translate3d(0, 100%, 0);
        -webkit-filter: brightness(30);
        filter: brightness(30);
        opacity: 0;
    }



    11% {
        transform: scale(1, 1) translate3d(0, 0, 0);
        -webkit-filter: contrast(0) brightness(0);
        filter: contrast(0) brightness(0);
        opacity: 0;
    }

    100% {
        transform: scale(1, 1) translate3d(0, 0, 0);
        -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
        filter: contrast(1) brightness(1.2) saturate(1.3);
        opacity: 1;
    }
}

@keyframes turn-off {
    0% {
        transform: scale(1, 1) translate3d(0, 0, 0);
        -webkit-filter: brightness(1);
        filter: brightness(1);
        opacity: 1;
    }

    60% {
        transform: scale(1, 0.001) translate3d(0, 0, 0);
        -webkit-filter: brightness(10);
        filter: brightness(10);
    }

    100% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: scale(0.000, 0.0001) translate3d(0, 0, 0);
        -webkit-filter: brightness(50);
        filter: brightness(50);
    }
}

@keyframes flicker {
    0% {
        opacity: 1;
    }

    15% {
        opacity: 0.98;
    }

    25% {
        opacity: 0.97;
    }

    50% {
        opacity: 0.99;
    }

    60% {
        opacity: 1;
    }

    65% {
        opacity: 0.98;
    }

    75% {
        opacity: 1;
    }

    95% {
        opacity: 0.99;
    }

    100% {
        opacity: 0.97;
    }
}

.off {
    animation: turn-off 0.55s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    animation-fill-mode:forwards;
}

.on {
    animation: turn-on 12s linear;
    animation-fill-mode:forwards;
}

.command-prefix {
    color: green;
}

input {
    background: transparent;
    border: none;
    color: white;
    padding-left: 10px;
    font-family: 'VT323', monospace;
    font-size: 20px;
}

.active {
    animation:flicker 0.15s infinite;
}

#power-icon {
    height: 30px;
    width: 30px;
    margin-right: 25px;
}

.powered {
    filter: invert(38%) sepia(99%) saturate(2172%) hue-rotate(95deg) brightness(98%) contrast(105%);
}